/*
Colors used:
Primary Color (White): #ffffff;
Secondary Color (Grey): #dfe0e1;
Font Colour (Black): #0a0a0b
*/



* {

    box-sizing: border-box;

}

html {
    scroll-behaviro: smooth;
}



body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #0a0a0b;
    background-color: #ffffff
}

img {
  width: 100%;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 600;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}


a {
  color: #ff7f50;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #ffffff;
}
a:active { /* selected link */
  color: #994c30;
}
a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}





.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #FF6127;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.8s opacity;
}

.button:hover, .button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
      color: #ffffff;
  text-decoration: none;
}





.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}
.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}





#my-link {/* id selector */
  color: green;
}

.my-link {/* class selector */
  color: blue;
}







header {
  background-color: #dfe0e1;
  padding: 10px;


  border-bottom: 3px solid #4a4a4a;
  box-shadow:         0px 10px 5px 0px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%
}


.logolink {
  font-size: 20px;
  color: #0a0a0b;
  margin-bottom: -40px;
  display: block
}

.logolink:hover, .logolink:visited {
color: #0a0a0b;
}


nav > ul {
  list-style-type: none;
  padding: 0;
  margin-top: 50px
}

nav > ul > li {
  display: inline-block;

}


.navtoggle li:not(:last-child) {
display: none;
}

.navtoggle, .navtoggle.responsive {
position: relative;
}

.navtoggle li .icon {
position: absolute;
right: 0;
top: 2px;
font-size: 20px;
}

.navtoggle.responsive li {
display: block;
}

.navtoggle.responsive nav {
padding: 24px 0 0;
}

.navtoggle.responsive li {
display: block;
padding: 12px 0;
border-top: 1px solid rgb(79, 122, 165);
}

.navtoggle.responsive li:last-child {
padding: 0 0 10px;
}


nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}




/* Layout styling */

.container {
  padding: 0 15px;
       margin: 0 auto;

}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
    margin-bottom: 20px;
}




  main {
    padding-top: 133px;
  }



#hero {
  background-color: #dfe0e1;
  padding: 20px 0;
    display: inline-block;
    width: 100%;
  }


#hero h1 {
  text-align: center; /* Centers text */
}





footer {
    padding: 40px 0;
    background-color: azure;
}


.social-icons {

 display: flex;
    flex-direction: row;
        margin: 40px 0;

}

.social-icons a {
    margin-right: 20px;
}


.social-icons svg {

height: 40px;

}

/*MEDIA QUERIES*/

@media only screen and (min-width: 640px) {


    .container {
          max-width: 1200px;
         padding: 0 0px;

      }



    .col-md-6 {
    width: 48%;

  }

    .col-md-6:first-child {
   padding-right: 25px;

  }





  [class*="col-"] {
    float: left;
  }


   .container .row::after {
    content: "";
    clear: both;
    display: table;
  }






}


@media only screen and (min-width: 1024px) {

  nav {
  width: auto;
  float: right;
  margin-top: 0px;
  }

  .navtoggle.responsive nav {
  padding: 0px 0 0;
  }

  nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
  }

  nav > ul > li {
  display: inline-block;

  }

   .navtoggle.responsive li  {
  padding:0px 0;

  }

  .navtoggle li:not(:last-child) {
  display: inline-block;
  border-top: 0px solid rgb(79, 122, 165);
  }

  .navtoggle li:last-child {
  display: none;
  }
     .col-lg-7 {
    width: 58%;
    padding-right: 40px;

  }

  .col-lg-5 {
    width: 38%;


  }



      main {
    padding-top: 163px;
  }

  @keyframes color-change {
    from {fill: #edc655;}
    to {fill: #f76414;}
  }

  .sun {
    animation: 4s color-change infinite alternate linear;
  }

  @keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
  }

  .cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }

  @keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
  }

  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }

  .me {

  max-width: 450px;
  display: block;
  margin: 0 auto;
  }






}
